<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="react.js, node.js,html, css, javascript, front end developer, portfolio">
    <meta name="description" content="I’m an enthusiastic and hardworker Front-end developer with a big passion for the digital world and this is my online portfolio!">
    <title>Portfolio</title>
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/allCss.min.css?rev=f0bf6cd9f262f7ee6f66f8c5676044d8">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Rock+Salt|PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body class="gooey-transition">
<!-- begin wrap -->
    <div class="wraper cd-main-content">

<div class="cd-modal" id="modal-1">
    <div class="modal-content">
        <h2 class="modal-content_title">My skills</h2>

        <ul class="work_list work_list__mod">
            <li class="work_list_item">Excellent knowledge of HTML5, CSS3 (Twitter Bootstrap)</li>
            <li class="work_list_item">Knowledge of graphics packages like Photoshop</li>
            <li class="work_list_item">Development for cross-browser and cross-platform compatibility</li>
            <li class="work_list_item">Development for responsive / adaptive, Pixel  Perfect  , retina-type devices,
                valid, semantic HTML</li>
            <li class="work_list_item">BEM methodology layout</li>
            <li class="work_list_item">Knowledge of JavaScript, jQuery, ReactJS (Redux)</li>
            <li class="work_list_item">Build systems Gulp/Grunt</li>
            <li class="work_list_item">Experience with version control systems Git</li>
            <li class="work_list_item">Experience with CSS preprocessors (Sass / Less)</li>
            <li class="work_list_item">WordPress</li>
            <li class="work_list_item">Have basic knowledge of PHP</li>
        </ul>
    </div> <!-- .modal-content -->

    <a href="#0" class="modal-close">Close</a>
</div> <!-- .cd-modal -->

<div class="cd-transition-layer" data-frame="38">
    <div class="bg-layer"></div>
</div> <!-- .cd-transition-layer -->
        <!-- begin header -->
        <header class="header header__mod-on">
            <div class="header_wrap">
                <div class="close close-btn-top">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </div>
                <a class="link-label" href="/">
                    <img class="label" src="img/900-2-blue.png" alt=""></a>
                <!-- begin Top menu -->
                <ul class="top-menu pink">
                    <li class="top-menu_item__mod">
                        <a class="top-menu_item" href="docs/Scherban_Anton.pdf" download="docs/Scherban_Anton.pdf">CV</a>
                    </li>
                    <li class="top-menu_item__mod">
                        <a class="top-menu_item link_js" href=".skill">SKILLS</a>
                    </li>
                    <li class="top-menu_item__mod">
                        <a class="top-menu_item link_js" href=".portfolio">PORTFOLIO</a>
                    </li>
                    <li class="top-menu_item__mod">
                        <a class="top-menu_item link_js" href=".contacts">CONTACTS</a>
                    </li>
                </ul>
                <div class="close close-btn">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </div>
            </div>
            <!-- end Top menu --> </header>
        <!-- end header -->

        <!-- begin section-me -->
        <section class="section-me">
            <div class="section-me_wrap">
                <!-- begin welcome-text -->
                <div class="welcome-text">
                    <span class="g_hi">hi!</span>
                    <span class="g_my">My name is</span>
                    <span class="g_go">Anton</span>
                    <span class="g_ca">Scherban</span>
                    <span class="g_an">and I'm a</span>
                    <span class="g_24">24</span>
                    <span class="g_ye">year old Ukrainian</span>
                    <span class="g_fr">Front End Developer</span>
                    <span class="g_ni">Nice to meet you!</span>
                </div>
                <!-- end welcome-text -->

                <!-- begin avatar -->
                <!-- <div class="avatar"></div> -->
                <!-- end avatar --> </div>
        </section>
        <!-- end section-me -->

        <!-- begin napoleon -->
        <section class="napoleon">
            <div class="napoleon_wrap">
                <blockquote class="quote">
                    <p class="quote_text">
                        Patience, Persistence and Perspiration
                        <br />
                        make an unbeatable combination
                        <br />
                        for <strong>success</strong>
                        .
                    </p>
                    <footer class="quote_author">Napoleon Hill</footer>
                </blockquote>
            </div>
        </section>
        <!-- end napoleon -->

        <!-- begin skill -->
        <section class="skill">
            <div class="skill_wrap">

                <div class="descr-skills">
                    <span class="descr-skills_circle"></span>
                    <h2 class="descr-skills_title">
                        <strong>Skills</strong>
                    </h2>
                </div>

                <!-- begin technologies -->
                <ul class="technologies">
                    <li class="list-item">
                        <figure class="technology">
                            <div class="media-container media-container__mod_R"></div>
                            <figcaption class="tehnology-title">ReactJs</figcaption>
                        </figure>
                        <span class="list-item_title">ReactJs</span>
                        <ul class="skills-descr">
                            <li class="skills-descr_item">ReactJs;</li>
                            <li class="skills-descr_item">Redux;</li>
                            <li class="skills-descr_item">Redux Form;</li>
                            <li class="skills-descr_item">ImmutableJs;</li>
                            <li class="skills-descr_item">Reselect;</li>
                            <li class="skills-descr_item">Material-UI;</li>
                        </ul>
                    </li>
                    <li class="list-item">
                        <figure class="technology">
                            <div class="media-container media-container__mod1"></div>
                            <figcaption class="tehnology-title">Javascript</figcaption>
                        </figure>
                        <span class="list-item_title">Javascript</span>
                        <ul class="skills-descr">
                            <li class="skills-descr_item">Knowledge ES5 and ES6;</li>
                            <li class="skills-descr_item">Ajax and json;</li>
                        </ul>
                    </li>
                    <li class="list-item">
                        <figure class="technology">
                            <div class="media-container media-container__mod4">
                                <img src="" alt=""></div>
                            <figcaption class="tehnology-title">jQuery</figcaption>
                        </figure>
                        <span class="list-item_title">jQuery</span>
                        <ul class="skills-descr">
                            <li class="skills-descr_item">Good knowledge jQuery;</li>
                        </ul>
                    </li>
                    <li class="list-item">
                        <figure class="technology">
                            <div class="media-container media-container__mod5">
                                <img src="" alt=""></div>
                            <figcaption class="tehnology-title">CSS3</figcaption>
                        </figure>
                        <span class="list-item_title">CSS3</span>
                        <ul class="skills-descr">
                            <li class="skills-descr_item">Flexbox and animation;</li>
                            <li class="skills-descr_item">Sprites and retina-type devices;</li>
                            <li class="skills-descr_item">BEM methodology layout</li>
                        </ul>
                    </li>
                    <li class="list-item">
                        <figure class="technology">
                            <div class="media-container media-container__mod6">
                                <img src="" alt=""></div>
                            <figcaption class="tehnology-title">HTML5</figcaption>
                        </figure>
                        <span class="list-item_title">HTML5</span>
                        <ul class="skills-descr">
                            <li class="skills-descr_item">Development for cross-browser and cross-platform compatibility;</li>
                            <li class="skills-descr_item">Development for responsive / adaptive;</li>
                            <li class="skills-descr_item">Pixel  Perfect;</li>
                            <li class="skills-descr_item">Valid;</li>
                            <li class="skills-descr_item">Semantic HTML</li>
                        </ul>
                    </li>
                </ul>
            <a href="#modal-1" class="skill_information cd-modal-trigger">more information ...</a>
            <ul class="technologies">
                <li class="list-item">
                    <figure class="technology">
                        <div class="media-container media-container__mod7">
                            <img src="" alt=""></div>
                        <figcaption class="tehnology-title">GIT</figcaption>
                    </figure>
                    <span class="list-item_title">GIT</span>
                </li>
                <li class="list-item">
                    <figure class="technology">
                        <div class="media-container media-container__mod8">
                            <img src="" alt=""></div>
                        <figcaption class="tehnology-title">SASS/LESS</figcaption>
                    </figure>
                    <span class="list-item_title">Preprocessor</span>
                    <ul class="skills-descr">
                        <li class="skills-descr_item">SASS/LESS</li>
                    </ul>
                </li>
                <li class="list-item">
                    <figure class="technology">
                        <div class="media-container media-container__mod9">
                            <img src="" alt=""></div>
                        <figcaption class="tehnology-title">GULP/GRUNT</figcaption>
                    </figure>
                    <span class="list-item_title">Collectors</span>
                    <ul class="skills-descr">
                            <li class="skills-descr_item">GULP/GRUNT</li>
                        </ul>
                </li>
                <li class="list-item">
                    <figure class="technology">
                        <div class="media-container media-container__mod10">
                            <img src="" alt=""></div>
                        <figcaption class="tehnology-title">Bootstrap</figcaption>
                    </figure>
                    <span class="list-item_title">Bootstrap</span>
                </li>
            </ul>
            <!-- end technologies --> </div>
    </section>
    <!-- end skill -->
    <!-- begin work -->
    <section class="work">
        <h2 class="work_title">
            <strong>work & education</strong>
        </h2>
        <div class="work_wrap">
            <article class="work_article">
                <span class="work_label">w</span>
                <p class="work_years">2017 – now</p>
                <div class="work_line">
                    <span class="work_circle"></span>
                </div>
                <h3 class="work_title3">
                    Front End Developer/ support for old projects, creating new sites, editing code, working with php and javascript code
                </h3>
                <h4 class="work_title4">SpecialGroupCode</h4>
                <ul class="work_list">
                    <li class="work_list_item">Support for old projects</li>
                    <li class="work_list_item">Creating new sites</li>
                    <li class="work_list_item">Editing code</li>
                    <li class="work_list_item">Working with php and javascript code</li>
                </ul>
            </article>
            <article class="work_article">
                <span class="work_label">w</span>
                <p class="work_years">2016 - 2017</p>
                <div class="work_line">
                    <span class="work_circle"></span>
                </div>
                <h3 class="work_title3">Worked in CMS masters for the position of Front End</h3>
            </article>
            <article class="work_article">
                <span class="work_label">e</span>
                <p class="work_years">2011 - 2014</p>
                <div class="work_line">
                    <span class="work_circle"></span>
                </div>
                <h3 class="work_title3">
                    Merchandiser specialist
                </h3>
                <h4 class="work_title4">DNUET</h4>
            </article>
        </div>
    </section>
    <!-- end work -->

    <!-- begin portfolio -->
    <section class="portfolio">
        <div class="portfolio_wrap">
        	<h2 class="portfolio_title">
                Work portfolio
                <small>click to view the site</small>
            </h2>
            <div class="portfolio_work"></div>

            <h2 class="portfolio_title">
                Portfolio freelance
                <small>click to view the site</small>
            </h2>
            <div class="portfolio_list"></div>

            <h2 class="portfolio_title">
                Github source
                <small>click to view the code</small>
            </h2>
            <div class="portfolio_git"></div>

        </div>
    </section>
    <!-- end portfolio -->

<!-- begin contacts -->
<section class="contacts">
    <div class="contacts_wrap">
        <h2 class="contacts_title">
            <strong>Contact</strong>
            me
        </h2>
        <div class="network">
            <a href="#" target="_blank" class="network_link in" style="margin-left: 0px;" title="LinkedIn profile"> <i class="fa fa_in" aria-hidden="true"></i>
            </a>
            <a href="skype:sp1r1t_toxa" class="network_link sk" style="margin-left: 0px;" title="Skype"> <i class="fa fa_sk" aria-hidden="true"></i>
            </a>
            <a href="mailto:lelekach1c@gmail.com" class="network_link em" style="margin-left: 0px;" title="Email">
                <i class="fa fa_em" aria-hidden="true"></i>
            </a>
            <a href="docs/Scherban_Anton.pdf" target="_blank" class="network_link cv" style="margin-left: 0px;" title="CV" download="docs/Scherban_Anton.pdf">
                <i class="fa fa_cv" aria-hidden="true"></i>
            </a>
            <a href="https://www.facebook.com/profile.php?id=100002467296380" target="_blank" class="network_link fb" style="margin-left: 0px;" title="facebook">
                <i class="fa fa_fb" aria-hidden="true"></i>
            </a>
            <form class="form" autocomplete="off" method="POST">
                <div class="form_base">
                    <h3 class="form_title">write me something</h3>

                    <div class="ln">
                        <label for="nameFieldInput" id="nameFieldLabel">Name</label>
                        <input class="form_name" name="name" type="text" placeholder="Name" id="nameFieldInput" />
                        <div class="err"></div>
                    </div>
                    <div class="ln">
                        <label for="emailFieldInput" id="emailFieldLabel">Email</label>
                        <input class="form_email" name="email" type="text" placeholder="Email" id="emailFieldInput" />
                        <div class="err"></div>
                    </div>
                    <div class="ln">
                        <label for="messageFieldTextarea" id="messageFieldLabel">Message</label>
                        <textarea class="form_message" name="message" type="text" placeholder="Message" id="messageFieldTextarea"></textarea>
                        <div class="err"></div>
                    </div>
                    <input class="form_send" type="submit" id="formSubmitButton" value="Send" />
                </div>
                <div class="success-block">
                    <div class="success-block_wrap"> <em class="success-block_em">Thank you!</em>
                        <span class="success-block_span">We'll be in touch</span>
                    </div>
                </div>
            </form>

        </div>
    </div>
</section>
<!-- end contacts -->
<!-- begin footer -->
<footer class="footer">
    <div class="footer_wrap">
        <h3 class="footer_title">
            Thank you
            <br />
            <span>for your time!</span>
        </h3>
        <div class="footer_button">
            <a href=".section-me" class="bt-up" data-target="initial">
                <span class="bt-up_arrow"></span>
            </a>
            <p class="footer_text">go back</p>
        </div>
    </div>
</footer>
<!-- end footer -->
</div>
<!-- end wrap -->

	<script type="text/tmpl" id='js-work'>
        <% for(i = 0; i < img.length; i++) { %>
            <article class="portfolio_descr">
                <a href="<%- img[i].link %>" class="portfolio_link" target="_blank">
                    <div class="portfolio_info">
                        <div class="portfolio_sub_info">
                            <div class="portfolio_sub_info2">
                                <h3 class="portfolio_sub_info_title"><%- img[i].title %></h3>
                                <ul class="portfolio_sub_info_list">
                                    <% for(j = 0; j < img[i].skills.length; j++) { %>
                                        <li class="portfolio_sub_info_item"><%- img[i].skills[j].name %><li>
                                    <% }; %>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <figure class="portfolio_figure">
                        <img class="portfolio_figure_img" src="<%- img[i].picture %>" />
                    </figure>
                </a>
            </article>
        <% }; %>
    </script>

    <script type="text/tmpl" id='js-img'>
        <% for(i = 0; i < img.length; i++) { %>
            <article class="portfolio_descr">
                <a href="<%- img[i].link %>" class="portfolio_link" target="_blank">
                    <div class="portfolio_info">
                        <div class="portfolio_sub_info">
                            <div class="portfolio_sub_info2">
                                <h3 class="portfolio_sub_info_title"><%- img[i].title %></h3>
                                <ul class="portfolio_sub_info_list">
                                    <% for(j = 0; j < img[i].skills.length; j++) { %>
                                        <li class="portfolio_sub_info_item"><%- img[i].skills[j].name %><li>
                                    <% }; %>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <figure class="portfolio_figure">
                        <img class="portfolio_figure_img" src="<%- img[i].picture %>" />
                    </figure>
                </a>
            </article>
        <% }; %>
    </script>

    <script type="text/tmpl" id='js-src'>
        <% for(i = 0; i < img.length; i++) { %>
            <article class="portfolio_descr">
                <a href="<%- img[i].link %>" class="portfolio_link" target="_blank">
                    <div class="portfolio_info">
                        <div class="portfolio_sub_info">
                            <div class="portfolio_sub_info2">
                                <h3 class="portfolio_sub_info_title"><%- img[i].title %></h3>
                                <ul class="portfolio_sub_info_list">
                                    <% for(j = 0; j < img[i].skills.length; j++) { %>
                                        <li class="portfolio_sub_info_item"><%- img[i].skills[j].name %><li>
                                    <% }; %>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <figure class="portfolio_figure">
                        <img class="portfolio_figure_img" src="<%- img[i].picture %>" />
                    </figure>
                </a>
            </article>
        <% }; %>
    </script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/lodash/4.15.0/lodash.min.js"></script>
<script src="js/index.js"></script>
</body>
</html>
