@media (min-width: 960px) {
  .footer {
    margin-top: 75px;
    padding: 110px 0 0 0;
    background: #41969c;
  }
  .footer_wrap {
    margin: 0 auto;
    width: 960px;
    text-align: center;
    padding: 0 32px;
  }
  .footer_title {
    font-size: 5.3125em;
    color: #fff;
    font-weight: 600;
    text-transform: none;
    text-align: center;
    margin: 0;
    line-height: 1em;
  }
  .footer_button {
    margin-top: 54px;
    position: relative;
    z-index: 2;
  }
  .footer_text {
    color: #fff;
    text-align: center;
    font-size: .75em;
    padding-top: 15px;
    padding-bottom: 20px;
  }

  .bt-up {
    margin: 0 auto;
    border-radius: 90px;
    background-color: #161616;
    height: 90px;
    width: 90px;
    display: block;
  }
  .bt-up:hover {
    background-color: #fff;
  }
  .bt-up:hover .bt-up_arrow {
    height: 45px;
    width: 38px;
    background-image: url('../img/social-s74c35a39a0.png');
    background-position: 0 -2385px;
    background-repeat: no-repeat;
  }
}
@media (min-width: 960px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 960px) and (min--moz-device-pixel-ratio: 1.5), (min-width: 960px) and (-o-min-device-pixel-ratio: 3 / 2), (min-width: 960px) and (min-device-pixel-ratio: 1.5), (min-width: 960px) and (min-resolution: 144dpi) {
  .bt-up:hover .bt-up_arrow {
    background-image: url('../img/social-retina-s9c1a56efef.png');
    background-position: 0 -1192.5px;
    background-size: 48px auto;
    background-size: 48px auto;
    background-size: 48px auto;
    background-size: 48px auto;
  }
}
@media (min-width: 960px) {
  .bt-up_arrow {
    height: 45px;
    width: 38px;
    background-image: url('../img/social-s74c35a39a0.png');
    background-position: 0 -2250px;
    background-repeat: no-repeat;
    display: block;
    transition: background-position .2s ease-out;
    border-radius: 109px;
    position: relative;
    left: 25px;
    top: 20px;
    height: 45px;
    width: 38px;
  }
}
@media (min-width: 960px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 960px) and (min--moz-device-pixel-ratio: 1.5), (min-width: 960px) and (-o-min-device-pixel-ratio: 3 / 2), (min-width: 960px) and (min-device-pixel-ratio: 1.5), (min-width: 960px) and (min-resolution: 144dpi) {
  .bt-up_arrow {
    background-image: url('../img/social-retina-s9c1a56efef.png');
    background-position: 0 -1125px;
    background-size: 48px auto;
    background-size: 48px auto;
    background-size: 48px auto;
    background-size: 48px auto;
  }
}
