@media screen and (max-width: 767px) {
  .header {
    width: 100%;
    background: linear-gradient(to top, rgba(247, 201, 134, 0.8), #ffe98a);
    transition: all 0.2s ease-in;
    position: fixed;
  }
  .header__mod-on {
    transform: translateY(-325px);
  }
  .header__mod-off {
    transform: translateY(0);
  }
  .header_wrap {
    margin: 0 auto;
    padding: 15px 0 25px;
    width: 320px;
    text-align: center;
    overflow: hidden;
  }

  #btn-on {
    display: block;
    transform: scale(1);
  }

  #btn-off {
    transform: scale(0);
  }

  .close-btn, .close-btn-top {
    font-size: 36px;
    color: #e15d53;
    position: absolute;
    top: 88%;
    left: 86%;
  }
  .close-btn__mod-off {
    transform: scale(0);
  }

  .close-btn__mod-on {
    display: block;
    transform: scale(1);
  }

  .close-btn-top {
    top: 0;
    left: 88%;
  }

  .fa.fa-plus-circle:hover {
    font-size: 42px;
    transform: rotate(90deg);
  }

  .link-label {
    margin-top: 5px;
    margin-bottom: 25px;
    overflow: hidden;
    background: transparent;
  }

  .label {
    margin: auto;
    margin-bottom: 25px;
    display: block;
    width: 194px;
    height: 44px;
    transition: all 0.2s ease-in;
  }
}
@media screen and (max-width: 767px) and (max-width: 467px) {
  .label {
    width: 194px;
    height: 44px;
  }
}

@media screen and (max-width: 767px) {
  .top-menu {
    float: none;
    text-align: center;
    position: relative;
    margin: auto;
  }

  .sub-top-menu {
    margin: 0 auto;
    padding: 10px 0px;
    width: 940px;
    text-align: center;
    overflow: hidden;
  }

  .headhe {
    width: 100%;
    padding: 0;
    z-index: 2;
  }

  .top-menu_item {
    width: 240px;
    margin: 0.5em .3em 0.5em 1em;
    font-size: 16px;
  }

  .top-menu_item__mod {
    display: block;
    margin-bottom: 20px;
  }
}
