@media (min-width: 768px) and (max-width: 959px) {
  .header {
    width: 100%;
    position: fixed;
    background: linear-gradient(to top, rgba(247, 201, 134, 0.2), #ffe98a);
    transition: all 0.2s ease-in;
  }
  .header_wrap {
    margin: 0 auto;
    padding: 15px 0;
    width: 768px;
    text-align: center;
    overflow: hidden;
  }

  .close {
    display: none;
  }

  .label {
    float: left;
    display: block;
    width: 194px;
    height: 44px;
    transition: all 0.2s ease-in;
  }

  .top-menu {
    float: right;
    text-align: right;
    position: relative;
    margin: auto;
  }

  .headhe {
    background: linear-gradient(to top, rgba(247, 201, 134, 0.4), #ffe98a);
    width: 100%;
    padding: 0;
    position: fixed;
    z-index: 2;
    transition: all 0.2s ease-in;
  }

  .headhe .label {
    width: 194px;
    height: 44px;
  }

  .top-menu_item {
    margin: 0.5em .3em 0.5em 1em;
    font-size: 16px;
  }

  .headhe .top-menu_item {
    margin: 0.5em .3em 0.5em 1em;
    font-size: 16px;
  }

  .headhe .header_wrap {
    padding: 5px 0;
  }

  .top-menu_item__mod {
    display: inline-block;
  }
}
